@import "../../../assets/styles/variables";

:host {
  height: rem-calc(624);
}

.schedule-container {
  height: rem-calc(624);

  .day-selector {
    select {
      width: 100%;
      height: rem-calc(35);
      line-height: rem-calc(35);
      font-family: $font-family;
      font-size: rem-calc(20);
      font-weight: 700;
      color: $alternative-color;
      border: none;
      background: $foreground-color;
      appearance: none;
      padding: 0 rem-calc(25);

      &:focus {
        outline: none;
      }

      option {
        font-weight: 400;
        line-height: rem-calc(23);
        font-size: rem-calc(14);
      }
    }
  }

  .location-selector {
    height: rem-calc(39);

    ::ng-deep {
      scrollbar-x {
        visibility: hidden;
      }
    }

    .locations {
      display: flex;
      flex-direction: row;

      > div {
        &:last-of-type {
          button {
            border-right-width: 0;
          }
        }
      }

      button {
        font-family: $font-family;
        background: $secondary-color;
        border: none;
        border-right: 1px solid $background-color;
        min-width: rem-calc(143);
        height: rem-calc(39);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: rem-calc(16);
        line-height: rem-calc(19);
        font-weight: 700;
        text-transform: uppercase;
        color: $foreground-color;
        padding: rem-calc(5) rem-calc(15);

        &.active {
          background: $primary-color;
        }
      }
    }
  }

  .schedule {
    display: flex;
    flex-direction: column;
    height: rem-calc(550);

    .band {
      display: flex;
      align-items: flex-start;
      padding: rem-calc(15) rem-calc(25);
      background: $schedule-background-color;
      margin-bottom: rem-calc(2);
      min-height: 58px;
      
      .time {
        flex: 1;
        font-size: rem-calc(20);
        font-weight: 700;
        line-height: rem-calc(23);
      }

      .name {
        flex: 3;
        font-size: rem-calc(20);
        font-weight: 700;
        line-height: rem-calc(23);
        text-transform: uppercase;
      }
    }
  }
}