@import "../../../assets/styles/variables";

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-image: url("assets/img/home_background.svg");
  background-size: 534px 731px;
  background-position: 50% 128px;
  background-repeat: no-repeat;
}

.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

svg {
  * {
    fill: $foreground-color;
  }
}

.countdown {
  text-transform: uppercase;
  width: rem-calc(210);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem-calc(14);
  margin: rem-calc(130) auto 0 auto;
  text-align: center;
  background-color: $btn-background-color;
  border-radius: 11px;
  color: $primary-color;
  font-weight: 700;
}