<div class="nav-container">
  <ul class="nav">
    <li><a [routerLink]="['/lineup']">line up</a></li>
    <li><a [routerLink]="['/schedule']">schedule</a></li>
    <li><a [routerLink]="['/info']">info</a></li>
    <li><a [routerLink]="['/tickets']">tickets</a></li>
    <li><a [routerLink]="['/social']">social</a></li>
  </ul>
</div>
<div class="sponsors">
  <div class="sponsor">
    <img src="assets/img/radiozora.png" alt="Radiozora">
  </div>
  <div class="sponsor">
    <img src="assets/img/ozorian_p.png" alt="The Ozorian Prophet">
  </div>
</div>