@import "mixins";

$font-family: 'Karla', sans-serif;
$font-size: rem-calc(16);

$background-color: #070707;
$foreground-color: #ffffff;
$btn-background-color: #111319;

$link-color: #000000;
$link-active-color: #005CFF;

$primary-color: #70DD07;
$secondary-color: #E14699;
$alternative-color: #005CFF;