<div class="info-container">
  <h2 class="text-alternative">Info</h2>

  <p>An experience of the paralell existence created by our diversly colored dreams and visions of the same pure space, paradise on earth, our fairy tale. An altarnate reality of openness we can only bring to life together, where we can evolve within and without, towards becoming one with cosmic energies, nature, consciousness, and each other, through dance, trance, creation, invention, transformation. A place where caring for each other and our World is as important as our love and respect of all Mother Earth's creautures. A playground where we learn to share and care, to express and connect, to recreate and heal, to unify and beautify the World around and within us.</p>

  <p>07.20-26. 2020.<br>Dádpuszta, Fejér, Hungary</p>
</div>

<div class="sponsors">
  <div class="sponsor">
    <img src="assets/img/radiozora.png" alt="Radiozora">
  </div>
  <div class="sponsor">
    <img src="assets/img/ozorian_p.png" alt="The Ozorian Prophet">
  </div>
</div>