@import "../../../assets/styles/variables";

:host {
  height: rem-calc(624);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-container {
  padding: rem-calc(40) rem-calc(25) 0 rem-calc(25);
}